<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}
  </h1>

<!--   <p align="left" >In this demo we look at how IBM Watson can help us understand agile and design thinking practices used. In the block below, enter a description of an agile project, or click the sample button  to pre-populate a chat. When you submit , Watson will use the watson Natural Language Understanding to derive the intent of the chat and help extract agile and design thinking aspects. This helps to quickly understand practices used and outcomes achived!
  </p>
 -->


  <h4 align="left"><a href= "https://www.ibm.com/watson/services/natural-language-understanding/ ">Watson Natural Language Understanding</a> Returns Agile entities from a pretrained model in the text for deeper analysis.</h4>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div><br>
<input type="text" >
<button class = "btn btn-info">Get Data</button>&#160;
<button class = "btn btn-success">Show Results</button>

<router-outlet></router-outlet>

